
.icon-acessorios:before { content: '\e800'; } /* '' */
.icon-eletronicos:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-inicio:before { content: '\e803'; } /* '' */
.icon-instagram:before { content: '\e804'; } /* '' */
.icon-logo:before { content: '\e805'; } /* '' */
.icon-roupas:before { content: '\e806'; } /* '' */
.icon-twitter:before { content: '\e807'; } /* '' */
.icon-youtube:before { content: '\e808'; } /* '' */